@model IF6201_TomeYLleve.Models.ProductoModel
@{
    ViewData["Title"] = "Buscar Producto";
    Layout = "_LayoutCliente";
}
<div class="container">

    <div class="row">
        @foreach (ProductoModel tem in ViewBag.Detalle)
        {
            <div class="col-md-6">
                <div id="box1">
                    <figure>
                        <img class="fit-image  rounded d-block m-l-none" src="~/img/@tem.foto" alt="Responsive image">
                    </figure>
                </div>
            </div>
            <div class="col-md-6">

                <div id="box2">
                    <div class="title">
                        <br>
                        <h4>@tem.nombre</h4>
                    </div>

                    <div class="text">
                        <span>Descripción: @tem.descripcion</span>
                    </div>
                    <div class="caption">
                        <h3>
                            Precio: ₡@tem.precio
                        </h3>
                    </div>
                    <div class="caption">
                        <h3>
                            Tamaño: @tem.dimension
                        </h3>
                    </div>
                    <div class="caption">
                        <h3>
                            Otras caracteristicas: @tem.otrascaracteristicas
                        </h3>
                    </div>
                    <div class="caption">
                        <h3>
                            Disponibles: @tem.cantidad
                        </h3>
                    </div>
                </div>
            </div>
            <br />
            <div class="col-md-6" style="margin-top:25px;">
                <div id="box3">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="idP" name="idP" value="@tem.id" />
                        <input  type="hidden" class="form-control" id="idU" name="idE" value="@ViewBag.Session" />
                        <select id="cantidades" class="form-control" name="ListaSub" style="width:100px;" required>

                            @{
                                var cont = 1;
                                string cantId;
                                var cantStock = 1;
                            }

                            @while (cantStock <= tem.cantidad)
                            {
                                cantId = "CantId" + cont;

                                <option value="@cantStock"> @cantStock</option>

                                cont++;
                                cantStock++;
                            }

                        </select><br>

                        <input type="button" name="carrito" class="btn btn-primary" value="Añadir a carrito" href="javascript:;" onclick="AgregarCarrito($('#idP').val(), $('#idU').val(), $('#cantidades').val()); return false;">
                        <div>
                            <br />
                            <span id="resultado"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a href='@Url.Action("comprar", "Cliente", new { id = tem.id })'>
                            <input type="submit" value="Comprar" class="btn btn-primary" style="width:120px;" />
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
